$me-primary: #c73834;
$me-primary-rgb: rgb(199, 56, 52);
$me-secondary: #6d5d65;
$me-secondary-rgb: rgb(109, 93, 101);
$me-subtle-secondary: #ada5a9;
$me-subtle-secondary-rgb: rgb(173, 165, 169);
$me-pink: #fceaea;
$me-pink-rgb: rgb(252, 234, 234);

$primary: #c73834;
$secondary: #6d5d65;